<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<title>表单输入绑定</title>

<body>
    <h3>基础用法</h3>

    <h5>文本</h5>
    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>

    <h5>多行文本</h5>
    <div id="example-2">
        <span>Multiline message is :</span>
        <p style="white-space : pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <h3>复选框</h3>
    <div id="example-3">
        <input type="checkbox" id="javk" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names : {{ checkedNames }}</span>

    </div>

    <h3>单选按钮</h3>
    <div id="example-4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked : {{ picked }} </span>
    </div>

    <h3>选择框</h3>
    <h5>单选时</h5>
    <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected : {{ selected }} </span>
    </div>

    <h5>多选时</h5>
    <div id="example-6">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected : {{ selected }} </span>
    </div>

    <h5>用 v-for 渲染的动态选项：</h5>
    <div id="example-7">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected : {{ selected }}</span>
    </div>


    <script src="index.js"></script>
</body>

</html>